body{
    text-align: center;
    background: darksalmon
}
#img2{
    border-radius: 50px;
    width: 500px;
}
#img3{
    border-radius: 50px;
    width: 500px;
}
#para{
    color: forestgreen;
    font-size: 30px;
}